# .env file will be source with `nix-shell`
VAULT_ADDR=https://vault.bhamm-lab.com
VAULT_ROLE_ID= # Should be same as 'default approle' from vault
VAULT_SECRET_ID= # Should be same as 'default approle' from vault