apiVersion: v1
kind: Service
metadata:
  name: jellyseerr
  namespace: servarr
  labels:
    app: jellyseerr
spec:
  ports:
    - name: http
      port: 5055
      targetPort: 5055
  selector:
    app: jellyseerr
