cluster:
  allowSchedulingOnControlPlanes: false
  network:
    cni:
      name: none
  proxy:
    disabled: true
  discovery:
    enabled: true
    registries:
      service:
        disabled: false
  extraManifests: ${extra_manifests}
  inlineManifests: ${inline_manifests}
  etcd:
    extraArgs:
      heartbeat-interval: "1000"
      election-timeout: "10000"
