MONITOR {{ nut_ups_name }}@{{ nut_server_host }} 1 {{ nut_user }} {{ nut_password }} secondary
SHUTDOWNCMD "/sbin/shutdown -h now"
MINSUPPLIES 1
POLLFREQ 5
POLLFREQALERT 5
HOSTSYNC 15
DEADTIME 20
RBWARNTIME 43200
NOCOMMWARNTIME 300
FINALDELAY 5
NOTIFYCMD "/usr/sbin/upssched"
NOTIFYFLAG ONBATT  SYSLOG+WALL+EXEC
NOTIFYFLAG ONLINE  SYSLOG+WALL+EXEC
NOTIFYFLAG LOWBATT SYSLOG+WALL+EXEC
NOTIFYFLAG FSD     SYSLOG+WALL+EXEC
NOTIFYFLAG COMMBAD SYSLOG
NOTIFYFLAG COMMOK  SYSLOG
