apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: green-apps
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "30"
spec:
  project: default
  source:
    repoURL: https://github.com/blake-hamm/bhamm-lab.git
    targetRevision: feature/hugo
    path: kubernetes/manifests/apps
    directory:
      recurse: true
      include: "{**all.yaml,**green.yaml}"
  destination:
    server: https://kubernetes.default.svc
    namespace: argo
  ignoreDifferences:
    - group: apps
      kind: Deployment
      namespace: models
      jsonPointers:
        - /spec/replicas
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - RespectIgnoreDifferences=true
    automated:
      prune: true
      selfHeal: true
