apiVersion: v1
kind: Namespace
metadata:
  name: docs
  annotations:
    argocd.argoproj.io/sync-wave: "20"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: docs-site
  namespace: docs
  labels:
    app: docs-ste
  annotations:
    argocd.argoproj.io/sync-wave: "21"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: docs-site
  template:
    metadata:
      labels:
        app: docs-site
    spec:
      containers:
        - name: docs-server
          image: harbor.bhamm-lab.com/library/docs-site:latest
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "0.5"
              memory: "256Mi"
            requests:
              cpu: "0.2"
              memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: docs-site
  namespace: docs
  annotations:
    argocd.argoproj.io/sync-wave: "22"
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: docs-site
