# tasks file for opnsense
- name: Extract interfaces from opnsense_interface_map
  ansible.builtin.set_fact:
    all_interfaces: "{{ opnsense_interface_map | map(attribute='interface') | list }}"
    private_networks: "{{ opnsense_interface_map | map(attribute='subnet') | list }}"
- name: Configure vlans
  ansible.builtin.include_tasks:
    file: vlans.yml
    apply:
      tags: [vlan]
      notify: Reload vlan
- name: Configure firewall aliases
  ansible.builtin.include_tasks:
    file: aliases.yml
    apply:
      tags: [aliases]
- name: Configure firewall rules
  ansible.builtin.include_tasks:
    file: rules.yml
    apply:
      tags: [rules]
- name: Configure wireguard
  ansible.builtin.include_tasks:
    file: wireguard.yml
    apply:
      tags: [wireguard]
