- name: Dynamically set firewall rules for all interfaces
  ansible.builtin.set_fact:
    common_firewall_rules: >-
      {%- set rules = [] -%} {%- for item in opnsense_interface_map -%} {%- set _ = rules.append({
          "description": "Allow " ~ item.name ~ " IPv4 to Internet",
          "sequence": 100,
          "ip_protocol": "inet",
          "source_net": item.name ~ "Network",
          "destination_invert": true,
          "destination_net": "PrivateNetworks",
          "interface": item.interface
        }) -%}
      {%- set _ = rules.append({
          "description": "Allow " ~ item.name ~ " DNS",
          "interface": item.interface,
          "sequence": 2,
          "ip_protocol": "inet",
          "protocol": "UDP",
          "source_net": item.name ~ "Network",
          "destination_net": item.name ~ "Gateway",
          "destination_port": 53
        }) -%}
      {%- set _ = rules.append({
          "description": "Allow " ~ item.name ~ " pihole DNS",
          "interface": item.interface,
          "sequence": 2,
          "ip_protocol": "inet",
          "protocol": "UDP",
          "source_net": item.name ~ "Network",
          "destination_net": "10.0.9.2",
          "destination_port": 53
        }) -%}
      {%- set _ = rules.append({
          "description": "Allow " ~ item.name ~ " Ping",
          "interface": item.interface,
          "sequence": 2,
          "ip_protocol": "inet",
          "protocol": "ICMP",
          "source_net": item.name ~ "Network",
          "destination_net": item.name ~ "Gateway"
        }) -%}
      {%- set _ = rules.append({
          "description": "Allow " ~ item.name ~ " IPv6 to Internet",
          "sequence": 100,
          "ip_protocol": "inet6",
          "source_net": item.name ~ "Network",
          "destination_invert": true,
          "destination_net": "PrivateNetworks",
          "interface": item.interface
        }) -%}
      {%- endfor -%} {{ rules }}
- name: Apply firewall rules
  oxlorg.opnsense.rule_multi:
    rules: "{{ common_firewall_rules + opnsense_extra_rules }}"
    match_fields: ['description']
    multi_control:
      purge_unconfigured: true
