apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: authelia-oidc-key
  namespace: authelia
  annotations:
    argocd.argoproj.io/sync-wave: "11"
spec:
  duration: 8760h
  renewBefore: 720h
  secretName: authelia-oidc-key
  commonName: Authelia OIDC Signing Key
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
    rotationPolicy: Always
  usages:
    - digital signature
    - key encipherment
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
