apiVersion: v1
kind: Namespace
metadata:
  name: dashy
  annotations:
    argocd.argoproj.io/sync-wave: "20"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dashy-config
  namespace: dashy
  annotations:
    argocd.argoproj.io/sync-wave: "21"
data:
  config.yml: |-
    ---
    pageInfo:
      title: bhamm-lab
      description: bhamm-lab homepage

    appConfig:
      statusCheck: true
      statusCheckInterval: 30
      disableConfiguration: true
      hideComponents:
        hideHeading: true
        hideSettings: true
        hideFooter: true
        hideNav: true
      theme: one-dark
      layout: horizontal
      iconSize: small

    sections:
    - name: Network
      icon: fas fa-network-wired
      items:
      - title: Opnsense
        description: Visit opnsense firewall interface
        icon: hl-opnsense
        url: https://10.0.9.1/
        statusCheckAllowInsecure: true
      - title: Opnsense
        description: Visit bsd node exporter grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/Kczn-jPZz/node-exporter-freebsd?orgId=1&from=now-24h&to=now&timezone=browser&var-DS_PROMETHEUS=default&var-job=opnsense&var-node=10.0.9.1:9100&refresh=1m
        statusCheck: false
      - title: Access Point
        description: Visit tp link eap650 access point
        icon: hl-tp-link
        url: http://10.0.80.4/
        statusCheck: false
      - title: Main Switch
        description: Visit 2.5gb poe main tp link switch
        icon: hl-tp-link
        url: https://10.0.10.11/
        statusCheck: false
      - title: Server Switch
        description: Visit 10gb server tp link switch
        icon: hl-tp-link
        url: https://10.0.10.12/
        statusCheckAllowInsecure: true
      - title: Kubernetes
        description: Visit kubernetes network grafana dashboard
        icon: hl-kubernetes
        url: https://grafana.bhamm-lab.com/d/ff635a025bcfea7bc3dd4f508990a3e9/kubernetes-networking-cluster?orgId=1&from=now-3h&to=now&timezone=America%2FDenver&var-datasource=default&var-cluster=&refresh=10s
        statusCheck: false

    - name: Servers
      icon: fas fa-server
      items:
      - title: Method
        description: Visit method proxmox server
        icon: hl-proxmox
        url: https://10.0.20.11:8006/
        statusCheckAllowInsecure: true
      - title: Indy
        description: Visit antsle proxmox server
        icon: hl-proxmox
        url: https://10.0.20.12:8006/
        statusCheckAllowInsecure: true
      - title: Stale
        description: Visit super proxmox server
        icon: hl-proxmox
        url: https://10.0.20.13:8006/
        statusCheckAllowInsecure: true
      - title: Method ipmi
        description: Visit method ipmi interface
        icon: hl-supermicro
        url: https://10.0.10.21/
        statusCheck: false
      - title: Indy ipmi
        description: Visit antsle ipmi interface
        icon: hl-supermicro
        url: https://10.0.10.22/
        statusCheck: false
      - title: Stale ipmi
        description: Visit super ipmi interface
        icon: hl-supermicro
        url: https://10.0.10.23/
        statusCheck: false
      - title: PiKVM
        description: Visit PiKVM connected to talos nose/tail (framework mainboards)
        icon: hl-pikvm
        url: https://10.0.10.24/
        statusCheck: false
      - title: Exporter
        description: Visit node exporter grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/rYdddlPWk/node-exporter-full?orgId=1&from=now-24h&to=now&timezone=browser&var-datasource=default&var-job=nodes&var-node=10.0.20.11:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m
        statusCheck: false
      - title: Systemd
        description: Systemd grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/d67da086-b996-4b94-be01-84e607a60956/systemd-exporter?orgId=1&from=now-2d&to=now&timezone=browser&var-datasource=prometheus&var-instance=10.0.20.11:9558
        statusCheck: false

    - name: Media
      icon: mdi-multimedia
      items:
      - title: Immich
        description: Visit immich
        icon: hl-immich
        url: https://immich.bhamm-lab.com/
      - title: Jellyfin
        description: Visit jellyfin
        icon: hl-jellyfin
        url: https://jellyfin.bhamm-lab.com/
      - title: Jellyseerr
        description: Visit jellyseerr
        icon: hl-jellyseerr
        url: https://jellyseerr.bhamm-lab.com/
      - title: Sonarr
        description: Visit sonarr
        icon: hl-sonarr
        url: https://sonarr.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Radarr
        description: Visit radarr
        icon: hl-radarr
        url: https://radarr.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Prowlarr
        description: Visit prowlarr
        icon: hl-prowlarr
        url: https://prowlarr.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Sabnzbd
        description: Visit sabnzbd
        icon: hl-sabnzbd
        url: https://sabnzbd.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Qbittorrent
        description: Visit qbittorrent
        icon: hl-qbittorrent
        url: https://qbittorrent.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Cleanuparr
        description: Visit cleanuparr
        icon: hl-cleanuperr
        url: https://cleanuparr.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Huntarr
        description: Visit huntarr
        icon: hl-huntarr
        url: https://huntarr.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Intel GPU
        description: Visit Intel gpu exporter grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/ddittat0n2i9se/intel-igpu?orgId=1&from=now-6h&to=now&timezone=browser&refresh=10s
        statusCheck: false

    - name: Monitoring
      icon: mdi-finance
      items:
      - title: Grafana
        description: Visit grafana
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/dashboards
      - title: Loki
        description: Visit loki logs in grafana
        icon: hl-loki
        url: https://grafana.bhamm-lab.com/a/grafana-lokiexplore-app/
        statusCheck: false
      - title: Prometheus
        description: Visit prometheus
        icon: hl-prometheus
        url: https://prometheus.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Alertmanager
        description: Visit alertmanager
        icon: hl-alertmanager
        url: https://alertmanager.bhamm-lab.com/
        statusCheckAcceptCodes: '401'

    - name: Dev
      icon: fas fa-code
      items:
      - title: Docs
        description: Visit docs site
        icon: mdi-file-document
        url: https://docs.bhamm-lab.com/
      - title: kubernetes
        description: Visit kubernetes dashboard in grafana
        icon: hl-kubernetes
        url: https://grafana.bhamm-lab.com/d/k8s_views_global/kubernetes-views-global?orgId=1&from=now-1h&to=now&timezone=browser&var-datasource=prometheus&var-cluster=&var-resolution=30s&var-job=node-exporter&refresh=30s
        statusCheck: false
      - title: Forgejo
        description: Visit forgejo
        icon: hl-forgejo
        url: https://git.bhamm-lab.com/
      - title: Argo CD
        description: Visit argo cd
        icon: hl-argocd
        url: https://argocd.bhamm-lab.com/
      - title: Argo Workflows
        description: Visit argo workflows
        icon: hl-argocd
        url: https://argo.bhamm-lab.com/workflows
      - title: Harbor
        description: Visit harbor
        icon: hl-harbor
        url: https://harbor.bhamm-lab.com/

    - name: AI
      icon: mdi-brain
      items:
      - title: Open Webui
        description: Visit Open Webui
        icon: hl-open-webui
        url: https://open-webui.bhamm-lab.com/
      - title: LiteLLM
        description: Visit Lite LLM
        icon: generative
        url: https://litellm.bhamm-lab.com/
      - title: AMD GPU
        description: Visit AMD gpu grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/98f69bf1-720b-4690-933d-36e6ceb799e0/amd-gpu-v2?orgId=1&from=now-6h&to=now&timezone=browser&var-hostname=green-talos-worker-nose&var-gpu_id=0
        statusCheck: false

    - name: Security
      icon: mdi-security
      items:
      - title: Vault
        description: Visit vault
        icon: hl-vault-light
        url: https://vault.bhamm-lab.com/
      - title: Vault
        description: Visit Vault grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/vaults/hashicorp-vault?orgId=1&from=now-30m&to=now&timezone=browser&var-node=10.244.2.138&var-port=8200&var-mountpoint=$__all
        statusCheck: false
      - title: Authelia
        description: Visit authelia
        icon: hl-authelia
        url: https://auth.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Authelia
        description: Visit Authelia grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/ddixu7wrrpuyod/authelia-community-dashboard?orgId=1&from=now-6h&to=now&timezone=browser&var-DS_PROMETHEUS=prometheus&var-instance=$__all&refresh=1m
        statusCheck: false
      - title: Traefik
        description: Visit traefik dashboard
        icon: hl-traefik-proxy
        url: https://traefik.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Traefik
        description: Visit traefik grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/n5bu_kv4k/traefik-official-kubernetes-dashboard?var-interval=$__auto&orgId=1&from=now-6h&to=now&timezone=browser&var-DS_PROMETHEUS=prometheus&var-entrypoint=$__all&var-service=$__all
        statusCheck: false
      - title: Cert Manager
        description: Visit Cert Manager grafana dashboard
        icon: hl-cert-manager
        url: https://grafana.bhamm-lab.com/d/cdhrcds8aosg0c/cert-manager-kubernetes?orgId=1&from=now-24h&to=now&timezone=browser&var-datasource=default&var-cluster=$__all&var-namespace=$__all
        statusCheck: false

    - name: Storage
      icon: mdi-database
      items:
      - title: Seaweedfs Master
        description: Visit Seaweedfs master
        icon: https://raw.githubusercontent.com/seaweedfs/seaweedfs/refs/heads/master/note/seaweedfs.svg
        url: https://master-swfs.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Seaweedfs Filer
        description: Visit Seaweedfs filer
        icon: https://raw.githubusercontent.com/seaweedfs/seaweedfs/refs/heads/master/note/seaweedfs.svg
        url: https://filer-swfs.bhamm-lab.com/
        statusCheckAcceptCodes: '401'
      - title: Seaweedfs Volume
        description: Visit Seaweedfs volume
        icon: https://raw.githubusercontent.com/seaweedfs/seaweedfs/refs/heads/master/note/seaweedfs.svg
        url: https://volume-swfs.bhamm-lab.com/ui/index.html
        statusCheckAcceptCodes: '401'
      - title: Seaweedfs
        description: Seaweedfs grafana dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/a24009d7-cbda-4443-a132-1cc1c4677304/seaweedfs?orgId=1&from=now-1d&to=now&timezone=browser&var-DS_PROMETHEUS=prometheus&var-NAMESPACE=seaweedfs
        statusCheck: false
      - title: Minio
        description: Minio (on TrueNAS)
        icon: hl-minio
        url: http://10.0.20.199:9002/
        statusCheck: true
      - title: Ceph
        description: Visit Ceph grafana dashboard
        icon: hl-ceph
        url: https://grafana.bhamm-lab.com/d/tbO9LAiZK/ceph-cluster?var-interval=$__auto&orgId=1&from=now-6h&to=now&timezone=browser&var-DS_PROMETHEUS=prometheus&refresh=1m
        statusCheck: false
      - title: SMART
        description: View SMART drive dashboard
        icon: hl-grafana
        url: https://grafana.bhamm-lab.com/d/f8f249a0-be78-41b1-97fe-8d0a92a71b93/smartctl-exporter?orgId=1&from=now-2d&to=now&timezone=browser&var-datasource=prometheus&var-instance=$__all
        statusCheck: false
      - title: TrueNAS
        description: Visit TrueNAS Site
        icon: hl-truenas-scale
        url: https://10.0.20.199/ui/signin
        statusCheck: false
      - title: PBS
        description: Proxmox Backup Server Volume
        icon: hl-proxmox
        url: https://10.0.30.199:8007/
        statusCheckAllowInsecure: true
      - title: k8up
        description: View k8up backup dashboard
        icon: mdi-backup-restore
        url: https://grafana.bhamm-lab.com/d/b11899bb-52b1-4f0a-a434-b5420d4541ab/k8up?orgId=1&from=now-7d&to=now&timezone=browser&var-namespace=$__all
        statusCheck: false
      - title: cnpg
        description: View cnpg dashboard
        icon: hl-postgres
        url: https://grafana.bhamm-lab.com/d/cloudnative-pg/cloudnativepg?orgId=1&from=now-2d&to=now&timezone=browser&var-DS_PROMETHEUS=prometheus&var-operatorNamespace=cnpg-system&var-namespace=authelia&var-cluster=authelia-postgresql&var-instances=$__all&refresh=30s
        statusCheck: false
      - title: PVC
        description: View pvc grafana dashboard
        icon: https://raw.githubusercontent.com/kubernetes/community/b51e2a3bce5d115b138df9d49c1ba8017cffdd45/icons/svg/resources/labeled/pvc.svg
        url: https://grafana.bhamm-lab.com/d/919b92a8e8041bd567af9edab12c840c/kubernetes-persistent-volumes?orgId=1&from=now-2d&to=now&timezone=America%2FDenver&var-datasource=default&var-cluster=&var-namespace=git&var-volume=gitea-shared-storage&refresh=10s
        statusCheck: false

    - name: Other
      icon: mdi-shape
      items:
      - title: Main Site
        description: Visit personal/professional website
        icon: mdi-web
        url: https://site.bhamm-lab.com/
      - title: Actual Budget
        description: Visit actual budget
        icon: hl-actual-budget
        url: https://actual-budget.bhamm-lab.com/
