apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: litellm
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "24"
spec:
  destination:
    namespace: litellm
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/BerriAI/litellm.git
    targetRevision: v1.80.0.dev6
    path: deploy/charts/litellm-helm
    helm:
      valuesObject:
        replicaCount: 1
        image:
          repository: ghcr.io/berriai/litellm
          pullPolicy: Always
          tag: "main-v1.80.0.dev6"
        deploymentAnnotations:
          reloader.stakater.com/auto: "true"
        masterkeySecretName: "litellm-external-secret"
        masterkeySecretKey: "LITELLM_MASTER_KEY"
        proxyConfigMap:
          name: litellm-config
          create: false
        resources:
          requests:
            cpu: 500m
            memory: 1024Mi
          limits:
            cpu: 1000m
            memory: 2048Mi
        db:
          useExisting: true
          database: litellm
          url: postgresql://$(DATABASE_USERNAME):$(DATABASE_PASSWORD)@$(DATABASE_HOST)/$(DATABASE_NAME)
          secret:
            name: litellm-postgresql-app
            usernameKey: username
            passwordKey: password
            endpointKey: host
          deployStandalone: false
        envVars:
          REDIS_HOST: "litellm-dragonfly"
          REDIS_PORT: "6379"
          REDIS_PASSWORD: ""
          QDRANT_VECTOR_SIZE: 4096
          QDRANT_API_BASE: http://qdrant.qdrant.svc.cluster.local:6333
        migrationJob:
          hooks:
            argocd:
              enabled: true
        extraEnvVars:
          - name: LITELLM_MASTER_KEY
            valueFrom:
              secretKeyRef:
                name: litellm-external-secret
                key: LITELLM_MASTER_KEY
          - name: LITELLM_SALT_KEY
            valueFrom:
              secretKeyRef:
                name: litellm-external-secret
                key: LITELLM_SALT_KEY
          - name: QDRANT_API_KEY
            valueFrom:
              secretKeyRef:
                name: litellm-external-secret
                key: QDRANT_API_KEY
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
