kind: Deployment
apiVersion: apps/v1
metadata:
  name: qbittorrent
  namespace: servarr
  labels:
    app: qbittorrent
  annotations:
    argocd.argoproj.io/sync-wave: "22"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
      containers:
        - name: gluetun
          image: ghcr.io/qdm12/gluetun:v3.40.0
          env:
            - name: VPN_SERVICE_PROVIDER
              value: protonvpn
            - name: VPN_TYPE
              value: wireguard
            - name: VPN_PORT_FORWARDING
              value: "on"
            - name: VPN_PORT_FORWARDING_PROVIDER
              value: protonvpn
            - name: QBT_WEBUI_ENABLED
              value: "true"
            - name: SERVER_COUNTRIES
              value: "United States"
            - name: TZ
              value: "America/Denver"
            - name: FIREWALL_INPUT_PORTS
              value: "8080"
            - name: FIREWALL_OUTBOUND_SUBNETS
              value: 10.96.0.0/12,10.244.0.0/16,10.42.0.0/16 # Allow access to k8s subnets
            - name: WIREGUARD_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: servarr-external-secret
                  key: WIREGUARD_PRIVATE_KEY
          securityContext:
            runAsUser: 0
            capabilities:
              add:
                - NET_ADMIN
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: gluetun-config
              mountPath: /gluetun
        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:latest
          volumeMounts:
            - name: qbittorrent-config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Denver"
            - name: WEBUI_PORT
              value: "8080"
          securityContext:
            runAsUser: 1000
        - name: port-manager
          image: snoringdragon/gluetun-qbittorrent-port-manager:latest
          env:
            - name: QBITTORRENT_SERVER
              value: "localhost"
            - name: QBITTORRENT_PORT
              value: "8080"
            - name: PORT_FORWARDED
              value: "/tmp/gluetun/forwarded_port"
            - name: HTTP_S
              value: "http"
          volumeMounts:
            - name: gluetun-config
              mountPath: /tmp/gluetun
          securityContext:
            runAsUser: 0
            runAsNonRoot: false
      volumes:
        - name: gluetun-config
          persistentVolumeClaim:
            claimName: gluetun-config
        - name: qbittorrent-config
          persistentVolumeClaim:
            claimName: qbittorrent-config
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads
