{{- if .Values.global.litellm.manage_config }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: litellm-config
  namespace: litellm
  annotations:
    argocd.argoproj.io/sync-wave: "22"
data:
  config.yaml: |
    {{- $litellmConfig := deepCopy .Values.global.litellm.config | toYaml | fromYaml }}
    {{- $models := list }}
    {{- range .Values.models }}
    {{- if .enabled }}
    {{- $default_params := dict "timeout" 1800 "stream_timeout" 1800 }}
    {{- $litellm_params := merge .litellm_params $default_params }}
    {{- $model := dict "model_name" .name "litellm_params" (merge (dict "model" (printf "openai/%s" .name) "api_base" (printf "http://%s.models.svc.cluster.local:8080/v1" .name) "api_key" "dummy") $litellm_params) }}
    {{- $models = append $models $model }}
    {{- end }}
    {{- end }}
    {{- $_ := set $litellmConfig "model_list" $models }}
    {{- toYaml $litellmConfig | nindent 4 }}
{{- end }}